@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

$blue: #34bda4;

@mixin button() {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 0.2rem solid $blue;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: $blue;
  font-weight: bold;

  &:hover {
    background: $blue;
    color: #fff;
  }
}

* {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 3rem;
  z-index: 10;

  nav {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;

      li {
        margin: 1rem 1.5rem;

        a {
          font-size: 2rem;
          text-decoration: none;
          color: #fff;
          padding: 1rem;

          &:hover {
            background: $blue;
          }
        }
      }
    }
  }

  .fa-bars {
    font-size: 4rem;
    color: $blue;
    cursor: pointer;
    margin: 0 2rem;
    z-index: 20;
    display: none;
  }

  .logo {
    margin: 0 2.5rem;

    a {
      text-decoration: none;

      h1 {
        font-size: 3rem;
        color: #fff;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        // text-transform: uppercase;

        span {
          color: $blue;
        }
      }
    }
  }
}

#home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: url(./images/back.jpg),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
  padding-top: 5rem;
  position: relative;
  text-align: center;

  h1 {
    font-family: "Dancing Script", cursive;
    // font-weight: 100;
    text-transform: capitalize;
    font-size: 9rem;
    margin: 0 0.5rem;
    color: #fff;
  }

  h3 {
    font-family: "Dancing Script", cursive;
    // font-weight: 300;
    text-transform: capitalize;
    font-size: 7rem;
    color: $blue;
    margin: 1rem 0;
  }

  button {
    margin: 2rem 0;
    font-size: 2rem;
    @include button();
  }

  .icons {
    position: absolute;
    bottom: 3.5rem;
    left: 5rem;
    z-index: 1;

    a {
      text-decoration: none;
      font-size: 3rem;
      margin: 0 1rem;
      color: #fff;

      &:hover {
        color: rgb(44, 145, 93);
      }
    }
  }

  .shape-image {
    position: absolute;
    bottom: -1rem;
    left: 0;

    img {
      height: 15rem;
      width: 100vw;
    }
  }
}

#feature {
  height: auto;
  width: 100vw;
  display: grid;
  place-items: center;
  background: $blue;

  h1 {
    font-family: "Dancing Script", cursive;
    // font-weight: 300;
    text-transform: capitalize;
    color: #fff;
    font-size: 4rem;
    margin: 2rem 0;
  }

  .card-container {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0;

    .card {
      width: 30rem;
      height: 40rem;
      margin: 2rem;
      background: #fff;

      img {
        width: 100%;
        height: 50%;
        -o-object-fit: cover;
        object-fit: cover;
      }

      .content {
        height: 50%;
        width: 100%;
        text-align: center;

        h1 {
          font-family: "Kanit", sans-serif;
          font-weight: 200;
          color: $blue;
          font-size: 2.5rem;
          margin: 1rem 0;
        }

        p {
          font-family: "Kanit", sans-serif;
          font-weight: 300;
          font-size: 1.2rem;
          padding: 0.5rem;
        }

        button {
          @include button();
          margin: 1rem 0;
        }
      }

      &:hover {
        transform: translateY(-3rem);
        box-shadow: 0 0 1rem #333;
      }
    }
  }
}

.fa-times {
  transform: rotateZ(180deg);
}

.active {
  background: rgb(62, 66, 65);
  box-shadow: 0 0.1rem 0.3rem #000;
  padding: 1rem;
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 620px) {
  header {
    .fa-bars {
      display: block;
    }

    nav {
      position: fixed;
      top: 0;
      left: -200%;
      height: 100vh;
      width: 80vw;
      background: #fff;
      box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);

      ul {
        height: 100%;
        flex-flow: column;
        justify-content: center;

        li {
          margin: 2rem 0;

          a {
            margin: 0;
            font-size: 4rem;
            color: $blue;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .nav-toggle {
    left: 0;
  }

  #home {
    h1 {
      font-size: 6.5rem;
    }

    h3 {
      font-size: 4rem;
    }

    .icons {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
